:root {
  --font-headings: unset;
  --font-base: unset;
  --font-headings-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-base-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

input,
a.button,
button,
textarea,
select {
  border-radius: 0px
}

#ls_embed_1605287631 {
  width: 100%;
}

.custom-logo-link img {
  height: 150px !important;
}

footer.site-footer {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .site-navigation ul a {
    font-size: 1.25rem;
  }

  .site-navigation .menu-container {
    border-bottom: 9px solid #b0213b;
    padding-right: 30rem;
    margin-right: -30rem;
  }
}

.wp-block-table.is-style-stripes {
  border: 0;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background: transparent;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) td {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}

.wp-block-table.is-style-stripes img.emoji {
  height: 0.75rem !important;
  width: 0.75rem !important;
}

.page-id-250 .entry-main-content .entry-content table td:not(.has-text-align-right) {
  vertical-align: top;
}

.sharedaddy {
  display: none !important;
}

.disabled a,
a.disabled {
  border-bottom: 0;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.disabled a:hover,
a.disabled:hover {
  border-bottom: 0;
  text-decoration: none !important;
}

.site-navigation ul li:hover > a:after {
  display: none !important;
}

input[type="email"]{
  font-size: 1rem;
}


// Functionality Styles
#error-message {
  background: #b0213b;
  color: white;
  display: none;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }
}

#fauxdb {
  display: none;
}
